
:root {  /*This is to define CSS variables at the absolute root of the document*/
    font-family: 'Red Hat Display', sans-serif 
}

.plan {
    font-size: 16px;
    display: grid;
    grid-column: 2;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.card {
    width: 300px;
    height: 500px;
    margin: auto;
    background-color: white;
    box-shadow: 0px 15px 10px -10px hsl(223, 47%, 23%); 
    border-radius: 15px;
}

#change {
    display: grid;
    grid-column: 3;
}

.container {
    box-sizing: border-box;
    width: 75%;
    margin: auto;
}

.hero {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

html {
    background-image: url(images/pattern-background-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: hsl(225, 100%, 94%);
    text-align: center;
}

.options {
    background-color:hsl(225, 100%, 98%);
    display: grid;
    grid-template-columns: 20%, 50%, 30%;
    grid-template-rows: 100%;
    border-radius: 10px;

}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

input[type="button"] {
    background-color: hsl(245, 75%, 52%);
    border: none;
    color: white;
    padding: 10px 20%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: inherit;
    border-radius: 5px;
}

#cancel {
    background-color: transparent;
    border: none;
    color: black;
    padding: 0px 20%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: inherit;
}

#music {
    display: grid;
    grid-column: 1;
}

.options p span {
    font-weight: 700;
}


