
:root {  /*This is to define CSS variables at the absolute root of the document*/
    font-family: 'Red Hat Display', sans-serif 
}

.annual {
    font-size: 16px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.card {
    width: 300px;
    height: 500px;
    margin: auto;
    background-color: white;
    box-shadow: 0px 15px 10px -10px black; 
    border-radius: 10px;
    
}

.container {
    box-sizing: border-box;
    width: 75%;
    margin: auto;
    
    
}

.hero {
    float: top;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

html {
    min-height: 100;
    background-image: url(images/pattern-background-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: hsl(225, 100%, 94%);

    
}

p {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
}

.options {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    background-color:hsl(225, 100%, 98%)
    
}

.music {
    float: inline-start;
    padding: 15px;
}

section {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
}
.summary p {
    font-size: 16px;
    
}

.plan {
    float: left;
}

#change {
    float: right;
}

footer {
    position: fixed;
}

.selection {
    clear: both;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
}